<footer class="footer_area footer_area_four f_bg">
	<div class="footer-container">
		<div class="footer-top-background-helper">
			<div class="footer-top row">
				<div class="text-center">
					<a href="/contact"><p>Get in Touch</p></a>
				</div>
			</div>
		</div>

		<div class="footer-background-helper">
			<div class="footer">
				<div class="copy">&copy; Brisqq Ltd. 2020. All rights reserved.</div>
				<div class="footer-menu">
					<ul class="menu vertical medium-horizontal">
						<li><a href="/contact">Contact Us</a></li>
						<li><a href="/terms">Terms & Conditions</a></li>
						<li><a href="/privacy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
