<div class="header-container">
	<div class="first-header columns show-for-xlarge first-header-back">
		<div class="menu-cont float-left" id="main-menu">
			<ul class="menu horizontal text-center">
				<li>
					<a
						href="https://www.facebook.com/brisqqdelivery/"
						class="logo float-left"
					>
						{{ $img := resources.Get "images/facebook_logo.svg" }}
						<img class="" src="{{ $img.Permalink}}" alt="logo" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/Brisqq_Delivery" class="logo float-left">
						{{ $img := resources.Get "images/twitter_logo.svg" }}
						<img class="" src="{{ $img.Permalink}}" alt="logo" />
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/company/brisqq"
						class="logo float-left"
					>
						{{ $img := resources.Get "images/linkedin_logo.svg" }}
						<img class="" src="{{ $img.Permalink}}" alt="logo" />
					</a>
				</li>
			</ul>
		</div>

		<div class="menu-cont float-right">
			<ul class="menu horizontal text-center">
				<!-- <li><a href="/nl">NL</a></li> -->
				<!-- <li><span>|</span></li> -->
				<li><a class="hs-sign-up-link" href="/sign-up">Sign Up Now</a></li>
				<li><span>|</span></li>
				<li>
					<a
						href="/deliver-with-us"
						class="hs-deliver-with-us-link couriers-link"
						>Deliver With Us</a
					>
				</li>
				<li><span>|</span></li>
				<li>
					<a class="hs-customer-login-link" href="https://partners.brisqq.com"
						>Customer Login</a
					>
				</li>
			</ul>
		</div>
	</div>

	<div class="header row columns">
		<div class="hamburger float-right hide-for-xlarge">
			<button class="menu-icon" type="button"></button>
		</div>

		<a href="/" class="logo float-left">
			{{ $img := resources.Get "images/logo.svg" }}
			<img class="black_logo" src="{{ $img.Permalink}}" alt="logo" />

			{{ $img := resources.Get "images/logo_white.svg" }}
			<img class="white_logo" src="{{ $img.Permalink}}" alt="logo" />
		</a>

		<div class="menu-cont float-right show-for-xlarge" id="main-menu">
			<ul class="menu horizontal text-center">
				<!-- <li><a href="/how-it-works">Solutions</a></li> -->
				<li class="li-solutions">
					<div class="solutions">
						<p>Solutions</p>
						<div class="arrow-down">
							<i class="bicon-right"></i>
						</div>
						<div class="arrow-up-regular">
							<i class="bicon-right"></i>
						</div>
						<div class="dropdown-solutions">
							<a href="/e-commerce-solution">E-Commerce</a>
							<a href="/in-store-solution">In-Store</a>
						</div>
					</div>
				</li>
				<li><a href="/success-stories/skandium">Success Stories</a></li>
				<li><a href="/use-cases/overview">Use Cases</a></li>
				<li><a href="/resources">Resources</a></li>
				<!-- <li><a href="/about">About Us</a></li> -->
				<li><a href="/faq">FAQ</a></li>
				<li><a href="https://blog.brisqq.com">Blog</a></li>
			</ul>
		</div>
	</div>

	<div class="menu-cont-full float-right hide-for-xlarge" id="main-menu-full">
		<ul class="menu vertical">
			<li class="add-space li-solutions">
				<div class="solutions">
					<p>Solutions</p>
					<div class="arrow-down">
						<i class="bicon-right"></i>
					</div>
					<div class="hidden arrow-up">
						<i class="bicon-right"></i>
					</div>
					<div class="dropdown-solutions">
						<a href="/e-commerce-solution">E-Commerce</a>
						<a href="/in-store-solution">In-Store</a>
					</div>
				</div>
			</li>
			<li><a href="/success-stories/skandium">Success Stories</a></li>
			<li><a href="/use-cases/overview">Use Cases</a></li>
			<li><a href="/resources">Resources</a></li>
			<!-- <li><a href="/about">About Us</a></li> -->
			<li><a href="/faq">FAQ</a></li>
			<li><a href="https://blog.brisqq.com">Blog</a></li>
			<li>
				<div class="horiz-small">
					<div class="nav-menu-display">
						<a class="hs-sign-up-link" href="/sign-up">Sign Up Now</a>
					</div>
					<span>|</span>
					<div class="nav-menu-display">
						<a
							href="/deliver-with-us"
							class="hs-deliver-with-us-link couriers-link"
							>Deliver With Us</a
						>
					</div>
					<span class="show-for-medium">|</span>
					<div class="nav-menu-display">
						<a class="hs-customer-login-link" href="https://partners.brisqq.com"
							>Customer Login</a
						>
					</div>
				</div>
			</li>

			<li class="social-icons">
				<a
					href="https://www.facebook.com/brisqqdelivery/"
					class="logo float-left"
				>
					{{ $img := resources.Get "images/facebook_logo.svg" }}
					<img class="" src="{{ $img.Permalink}}" alt="logo" />
				</a>
				<a href="https://twitter.com/Brisqq_Delivery" class="logo float-left">
					{{ $img := resources.Get "images/twitter_logo.svg" }}
					<img class="" src="{{ $img.Permalink}}" alt="logo" />
				</a>
				<a
					href="https://www.linkedin.com/company/brisqq"
					class="logo float-left"
				>
					{{ $img := resources.Get "images/linkedin_logo.svg" }}
					<img class="" src="{{ $img.Permalink}}" alt="logo" />
				</a>
			</li>
		</ul>
	</div>
</div>
